# Enable Bzlmod for every Bazel command

build --action_env=CC=clang
build --action_env=CXX=clang++

build --cxxopt='-std=c++20'
test --cxxopt='-std=c++20'

# debug config
build:debug --compilation_mode=dbg

# release config 
build:release --compilation_mode=opt


build --copt="--language=c++"
test --copt="--language=c++"

build --copt="-fdiagnostics-color=always"

# Use colors to highlight output on the screen. Set to `no` if your CI does not display colors.
# Docs: https://bazel.build/docs/user-manual#color
build --color=yes
test --color=yes

# Promote unused result and variable warnings to errors.
# build --cxxopt='-Werror=unused-result'
# test --cxxopt='-Werror=unused-result'
# build --cxxopt='-Werror=unused-variable'
# test --cxxopt='-Werror=unused-variable'
